<!-- <html>
  <head>
    <title>Flack | Chat</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>
    <body>

        <div class="container">

          <section>
            <ul id="channel-display">
              <li>Channel 1</li>
              <li>Channel 2</li>
              <li>Channel 3</li>
              <li>Channel 4</li>
              <li>Channel 5</li>
            </ul>
          </section>

          <section>
            <ul id="message-display">

            </ul>
            <form action="" id="chat-input">
              <input id="message" type="text" autocomplete="off">
              <button type="button" id="send-button">Send</button>
            </form>
          </section>

        </div>

    </body>
</html> -->

<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>Vote</title>
    </head>
    <body>
        <ul id="messages">
        </ul>

        <section>
          <ul id="message-display">

          </ul>
          <form action="post" id="chat-input">
            <input id="message" type="text" autocomplete="off">
            <button type="button" id="send-button">Send</button>
          </form>
        </section>
    </body>
</html>
