{% extends 'bootstrap/base.html' %}

{% block content %}

<div class="container">

  <h1>Chat App</h1>

  <div id="chatapp-container" class="chat-container center-align-content">

    <!-- Login Form -->

    <form id="login-form" method="post" class="hidden">
      <label for="display-name" class="padding-10">Please enter a display name to enter the chat app</label>
      <div>
        <input class="padding-10" type="text" id="display-name" placeholder="Enter your display name here...">
        <button id="login-btn" class="btn-primary enabled padding-10" type="submit" name="button">Enter</button>
        <p id="warning-message" class="invisible padding-10">This is some warning message</p>
      </div>

    </form>

    <!-- Chat App Display -->

    <div id="left-side" class="hidden">
      <h4>Channels <button type="button" id="new-channel-btn">+</button></h4>

      <div class="channel-menu">
        {% for room in rooms %}
            <button type="button" value="{{ room }}">{{ room }} </button>
        {% endfor %}
      </div>
    </div>

    <div id="right-side" class="hidden">
      <div class="menu">
        <h4 id="welcome-message">Welcome, </h4>
        <a id="logout-btn" href="#">Logout</a>

      </div>
      <div class="message-container">
        <h6 id="status-updates"></h6>
        <div class="message-display">
          <ul id="messages" class="list-unstyled text-right">

          </ul>
        </div>
      </div>


      <div class="text-center">
        <form method="post" id="chat-input">
          <div class="form-group">
            <div class="input-group">
              <input id="message" type="text" class="form-control" placeholder="Enter your message...">
              <span class="input-group-btn">
                <button class="btn btn-danger" type="submit">Send</button>
              </span>
            </div>
          </div>
        </form>
      </div>

    </div>

  </div>

  </div>

</div>


{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  {{ moment.include_moment() }}
{% endblock %}
